body {
    background: #F6F6FA;
    padding: 40px 40px 40px 40px;
    font-family: "Montserrat", sans-serif;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    background: #ffffff;
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

/* Main content */

.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}

/* Sidebar */

.sidebar {
    background: #8ec6dc;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* Contacts */

.contacts-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161d2a;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-link {
    color: #e2e5e9;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.contacts-item {
    margin-top: 0;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* Skills container */

.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 40;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
    color: #161d2a;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

/* Main content */

.my-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-right: 170px;
    ;
}

.my-name {
    color: #000;
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.my-descr {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-info {
    margin-bottom: 40px;
}

/* My projects */

.my-projects-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-projects-item {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item-link {
    color: #4277a2;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}

/* Vacancies */

.work-experience-title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.work-experience-company {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.company-name {
    color: #5692ba;
}

.work-experience-period {
    color: #4e4fa3;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}

.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.work-experience-container {
    margin-bottom: 12px;
}

/* Education */

.education-title {
    font-weight: 700;
    font-size: 22px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-university {
    font-weight: 700;
    font-size: 16px;
    color: #595959;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-speciality {
    font-weight: 700;
    font-size: 14px;
    color: #000;
    margin-top: 0px;
    margin-bottom: 8px;
}

.education-period {
    font-weight: 400;
    font-size: 12px;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.education-period-separator {
    color: #000;
}

.education-container {
    margin-top: 40px;
}



.location {
    margin-top: 2px;
}

.map {
    color: #161d2a;
    font-size: 22px;
    font-weight: 1000;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0px;
    padding-left: 20px;
}

/* Форма реєстрації */
.button-next {
    padding-left: 105px;
    margin-top: 17px;

    .navigation-button {
        display: inline-block;
        /* Зробити кнопку блоком */
        padding: 10px 20px;
        /* Відступи всередині кнопки */
        background-color: #55a2ce;
        /* Колір фону кнопки */
        color: white;
        /* Колір тексту */
        text-align: center;
        /* Вирівнювання тексту по центру */
        text-decoration: none;
        /* Зняти підкреслення посилання */
        font-size: 16px;
        /* Розмір шрифту */
        border-radius: 5px;
        /* Радіус кутів кнопки */
        border: none;
        /* Видалити рамку */
        cursor: pointer;
        /* Змінити курсор при наведенні на кнопку */
    }

    .navigation-button:hover {
        background-color: #3c81cf;
        /* Колір фону кнопки при наведенні */
    }
}

.apply {
    color: #F6F6FA;
    margin-top: 90px;
    /* Колір тексту */
    font-size: 19px;
    /* Розмір шрифту */
    font-weight: bold;
    /* Товщина шрифту */
    line-height: 15px;
    /* Висота рядка */
    margin-bottom: 0px;
    /* Відступ знизу */
    padding-left: 50px;
}

/* Форма реєстрації сторінка */

/* test */
body {
    font-family: Arial, sans-serif;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

#quiz-container select {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

#submit-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#result-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* кнопка тест */

.text-button-test {
    color: #ffffff;
    margin-top: 100px;
}

.navigation-button {
    margin-top: 0px;
    /* Відступ зверху */
    padding: 10px 20px;
    /* Величина внутрішнього відступу */
    background-color: #55a2ce;
    /* Колір фону кнопки */
    color: #ffffff;
    /* Колір тексту */
    border: none;
    /* Видалення рамки */
    border-radius: 5px;
    /* Закруглені кути */
    cursor: pointer;
    /* Зміна курсора при наведенні */
}

.navigation-button:hover {
    background-color: #3c81cf;
    /* Колір фону кнопки при наведенні */
}



@media screen and (max-width: 992px) {
    .my-descr {
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    .my-projects-container {
        width: 50%;
    }
}

